{% extends 'content.html' %}
{% load embed_video_tags %}
{% load staticfiles %}

{% block article %}

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b><a href="/article/get/{{ article.id }}">{{ article.article_title }}</a></b></h3>
      <h5>Дата, <span class="w3-opacity">{{ article.article_date }}</span></h5>

    </div>
  {% if article.article_image %}
  <img src="{{ MEDIA_URL }}{{ article.article_image.url }}" alt="Nature" style="width:100%">
  {% endif %}
    {% if article.video %}
    <iframe width="560" height="315" src="{{article.video}}" frameborder="0" allowfullscreen style="width:100%"></iframe>
    {% endif %}
    <div class="w3-container">
      <p>{% autoescape off %}{{ article.article_text }}{% endautoescape %}</p>
      <div class="w3-row">

            <div class="w3-col m8 s12">
            <p><button class="w3-button w3-padding-large w3-white w3-border" onclick="history.back();"><b><< Назад</b></button></p>
        </div>

        </div>
      </div>
    </div>
</div>

{% endblock %}



